.likes {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 10px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.75);
}

.likeCount {
  margin-right: 2px;
}

.heart {
  font-size: 18px;
  line-height: 20px;

  &:hover {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
  }
}

.active {
  color: hotpink;
}

.disabled {
  font-size: 18px;
  line-height: 20px;
  color: gray;
}
