.container {
  padding: 40px;
  margin: auto;
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 48px 32px;
}

.title {
  margin-bottom: 25px;
  align-self: center;
}

.field {
  align-self: flex-start;
  width: 320px;

  margin-bottom: 12px;

  .label {
    height: 22px;
    font-size: 14px;
  }

  .input {
    height: 40px;
    width: 100%;

    padding: 8px 12px;

    font-size: 16px;

    border: 1px solid #d9d9d9;
    border-radius: 4px;

    &.red {
      border: 1px solid crimson;
    }
  }

  .input-tag {
    width: 300px;
  }

  .area {
    height: auto;
    width: 100%;

    padding: 8px 12px;

    font-size: 16px;

    border: 1px solid #d9d9d9;
    border-radius: 4px;

    &.red {
      border: 1px solid crimson;
    }
  }
}

.article {
  width: 700px;
}

.divider {
  margin: 15px 0 10px 0;
  border: 1px solid #e8e8e8;
}

.rule {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 10px;

  .rulebox {
    margin-top: 4px;
    margin-right: 8px;
  }
  .description {
    width: 240px;

    font-size: 14px;
    line-height: 22px;

    .not-valid {
      color: crimson;
    }
  }
}

.create {
  width: 100%;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;

  background: #1890ff;

  margin: 10px 0;
}

.change {
  align-self: center;
  font-size: 12px;
  color: #8c8c8c;

  .link {
    color: #1890ff;
  }
}

.error-text {
  font-size: 14px;
  color: #f5222d;
}

.tags {
  display: flex;
  flex-direction: row;

  width: 620px;
}

.button {
  margin-left: 15px;
  height: 40px;
  width: 120px;

  text-transform: none;
}

.send {
  width: 300px;
}

.add {
}

.delete {
  color: #f5222d;
  border: 1px solid #f5222d;
}
