@font-face {
  font-family: Inter;
  font-style: normal;
}

html,
body {
  background: #EBEEF3;
  font-family:-apple-system, 'Inter', 'Roboto', sans-serif, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

a {
  color: inherit;
  border: none;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.centered {
  text-align: center;
  margin: 25px auto;
}